html, body {
  background-color: rgb(242, 176, 157);
  margin: 0;
  padding: 0;
}

canvas {
  
  display: block;
}

button {
  color: white;
  background-color: rgb(255, 217, 199);  
  border-style: single;
  border-color: white;
  font-size: 20px;
}

#characterCreator {
  margin: auto;
}

#reset {
  padding-top: 10px;
}